name: push playbook

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: 7zip
        run: |
          sudo apt-get install p7zip-full -y

      - name: Create .7z
        run: |
          7za a -p'malte' -mhe=on EimiBook.7z ./*

      - name: APBX boom
        run: |
          mv EimiBook.7z EimiBook.apbx

      - name: Post to Discord Webhook
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          artifact_path="./EimiBook.apbx"
          artifact_name="EimiBook.apbx"
    
          curl -X POST -H "Content-Type: multipart/form-data" -F "content=New artifact uploaded!" -F "file=@$artifact_path" -F "payload_json={\"embeds\":[{\"title\":\"Artifact Details\",\"description\":\"An artifact has been created for the latest release.\",\"fields\":[{\"name\":\"Artifact Name\",\"value\":\"$artifact_name\"}]}]}" "$DISCORD_WEBHOOK_URL"
